{{#each this}}
  <div class='name-box'>
    <img class='img' src='{{flag}}' />
    <h2>{{name}}</h2>
  </div>
  <p>Capital: <span>{{capital}}</span></p>
  <p>Population: <span>{{population}}</span></p>
  <p>Languages: <span>{{#each languages}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}</span></p>
{{/each}}